<div class="container">
  <mat-card class="header">
    <mat-card-title>
      Task: {{task?.name}}
      <button *ngIf="isProjectManager" mat-button color="primary" (click)="onEditTask()">Edit</button>
      <button *ngIf="isProjectManager" mat-button color="warn" (click)="onDeleteTask()">Delete</button>
       </mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col-sm-7 inline">
          <p>{{task?.description}}</p>
        </div>
        <div class="w-100"></div>
        <div class="col-sm-5 inline">
          <p>Start on: {{getStartDateString()}}</p>
        </div>
        <div class="col-som-7 inline">
          <p>{{getTimeRemaingString()}}</p>
        </div>
        <div class="w-100"></div>
        <div class="col-sm-5 in-line">
          <p>End on: {{getEndDateString()}}</p>
        </div>
        <div class="col-som-7 inline">
          <p>Assign to: {{getOwnerName()}}</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div *ngFor="let comment of comments" class="comment">
    <app-comment [comment]="comment"></app-comment>
  </div>
  <mat-card class="comment-form">
    <form [formGroup]="commentForm">
      <mat-form-field>
        <mat-label>Comment</mat-label>
        <textarea formControlName="comment" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" placeholder="Write your comment here."></textarea>
      </mat-form-field>
      <div class="comment-form-control">
        <button [disabled]="commentForm.invalid" (click)="onPostComment()" mat-raised-button color="primary">Post</button>
        <button *ngIf="task?.isFinished && canDoneTask" (click)="onTaskDone()" mat-button color="primary">Reopen</button>
        <button *ngIf="!task?.isFinished && canDoneTask" (click)="onTaskDone()" mat-button color="primary">Done</button>
      </div>
    </form>
  </mat-card>
</div>
