.header {
  max-width: 150rem;
  min-width: 15rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.comment {
  margin-bottom: 1rem;
}

.comment-form mat-form-field {
  width: 100%;
}

.comment-form textarea {
  height: 7rem;
}

.comment-form-control {
  display: flex;
  flex-direction: row-reverse;
}
