<div class="jumbotron">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Sign In">
      <app-sign-in></app-sign-in>
    </mat-tab>
    <mat-tab label="Sign Up">
      <app-sign-up></app-sign-up>
    </mat-tab>
  </mat-tab-group>
</div> 
