<div *ngIf="isLoading" class="loading-spiner">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading" class="dashboard">
  <div class="head">
    <h1 class="display-3" *ngIf="!isSearching">
      Today
    </h1>
    <div class="search-box">
      <mat-form-field floatLabel='never'>
        <mat-label>Seach Box</mat-label>
        <span matPrefix>
          <fa-icon [icon]="['fas','search']"></fa-icon> &nbsp;
        </span>
        <input #searchbox (focus)="onFocus()" [(ngModel)]="searchText" matInput type="text" placeholder="project name or manager"
          autocomplete="off">
      </mat-form-field>
      <button mat-button *ngIf="isSearching" mat-icon-button aria-label="Clear" (click)="onBlur()">
        <fa-icon [icon]="['fas', 'times']"></fa-icon>
      </button>
    </div>
  </div>
  <div class="user-dash" *ngIf="!isSearching">
    <h1 class="display-4">
      {{ todayDate | date:'longDate' }}
    </h1>
    <h1 class="display-4">Hello {{ user?.displayName }}</h1>
    <div class="project-progress">
      <div class="no-project" *ngIf="userProject.length == 0">
        <h1>You don't have any project.</h1>
        <div>
          <button mat-raised-button color="primary" routerLink="/addproject">Add new project</button>
          &nbsp;
          <button mat-raised-button color="primary" (click)="searchbox.focus()">Request to project</button>
        </div>
      </div>
      <div *ngFor="let project of userProject">
        <mat-card  routerLink="/projects/{{project.uid}}">
          <mat-card-header>
            <mat-card-title>{{project.name}}</mat-card-title>
            <mat-card-subtitle><span class="late" *ngIf="getProjectProgress(project).isLate">Late&nbsp;</span> {{getProjectProgress(project).time}} Day(s)</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-progress-bar color="{{getProjectProgress(project, true).isLate? 'warn' : 'primary'}}" mode="determinate" value="{{getProjectProgress(project, true).time}}"></mat-progress-bar>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="search-dash" *ngIf="isSearching">
    <div *ngIf="isLoadingProjectList" class="loading-spiner">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!isLoadingProjectList">
      <mat-card *ngFor="let project of allProject | filter:searchText">
        <mat-card-header>
          <div mat-card-avatar [ngStyle]="{'background-color': getColorStatus(project)}"></div>
          <mat-card-title>{{project.name}}</mat-card-title>
          <mat-card-subtitle>Project Manager: {{getUserName(project.manager)}}</mat-card-subtitle>
          <mat-card-actions>
            <span routerLink="/projects/{{project.uid}}" *ngIf="isMember(project);else notMember" class="goIn">
              You are member &nbsp;<fa-icon [icon]="['fas', 'external-link-alt']"></fa-icon></span>
            <ng-template #notMember>
              <span (click)="sendRequest(project.uid)" *ngIf="!hasSendRequest(project.uid);else hasRequest"
                class="request">Send Reqeust &nbsp;<fa-icon [icon]="['fas', 'plus']"></fa-icon></span>
              <ng-template #hasRequest>
                <span (click)="cancelRequest(project.uid)" class="cancel-request">cancel request&nbsp;<fa-icon
                    [icon]="['fas', 'times']"></fa-icon></span>
              </ng-template>
            </ng-template>

          </mat-card-actions>
        </mat-card-header>
      </mat-card>
    </div>

  </div>
</div>