.display-4 {
  font-size: 2rem;
}

.display-3 {
  font-size: 3rem;
}

.dashboard{
  padding: 1rem;
}

.head{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-right: 4rem;

}
.search-box{
  display: flex;
  width: 40%;
  align-items: center;
}

.search-box .mat-form-field{
  width: 100%;
}

.mat-card-actions{
  display: flex;
  align-items: center;
  margin: auto 0 auto auto;
}

.mat-card .mat-card-title,
.mat-card .mat-card-subtitle 
{
  display: flex;
  align-items: center;
  margin: 0px;
}

.mat-card{
  margin: 0.8rem auto;
}

.request, .goIn, .cancel-request{
  cursor: pointer;

}

.goIn{
  color: limegreen;
}

.cancel-request{
  color: orange;
}

.request{
  color: lightskyblue;
}
.goIn:hover{
  color: lightgreen;
  transition: color 0.5s;
}

.cancel-request:hover{
  color: lightpink;
  transition: color 0.5s;
}

.request:hover{
  color: lightblue;
  transition: color 0.5s;
}

.project-progress{
  margin-top: 4rem;
}

.mat-card-content{
  margin-top: 1rem;
}

.mat-card{
  cursor: pointer;
  transition: all 0.3s;

}

.mat-card:hover{
  background-color: whitesmoke;
}

.mat-card:active{
  background-color: lightgray;
}

.late{
  color: lightpink;
}

.mat-card-avatar{
  margin: auto 0;
  width: 0.7rem;
  border-radius: 0;
}

.no-project{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.no-project h1{
  font-size: 1.2rem;
}

.no-project button{
  width: 10rem;
  margin: 0 auto;
}