.header{
    display: flex;
    justify-content: space-between;
}

.mat-divider{
    margin: 1rem 0;
}

.mat-card-actions{
    display: flex;
    align-items: center;
    margin: auto 0 auto auto;
}

.mat-card .mat-card-title,
.mat-card .mat-card-subtitle 
{
    display: flex;
    align-items: center;
    margin: 0px;
}

.mat-card{
    margin: 0.8rem auto;
}

.mat-card-actions span{
    padding: 0.4rem;
    cursor: pointer;
}

.mat-card-actions span:hover{
    color: lightskyblue;
    transition: color 0.5s;
}
h3{
    text-align: center;
    font-size: 1rem;
}