<div class="header">
    <h2>Notification</h2>
    <button mat-icon-button (click)="closeDialog()"><mat-icon>cancel</mat-icon></button>
</div>
<mat-divider></mat-divider>
<div *ngIf="isLoading" class="loading-spiner">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading">
    <h3 *ngIf="projectList.length == 0">You don't have any invitation.</h3>
    <mat-card *ngFor="let request of projectList">
        <mat-card-header>
            <mat-card-title>{{request.name}}</mat-card-title>
            <mat-card-subtitle>Project Manager: {{getUserName(request.manager)}}</mat-card-subtitle>
            <mat-card-actions>
                <span (click)='acceptRequest(request.uid)'>Accept</span> |
                <span (click)='rejectRequest(request.uid)'>Reject</span>
            </mat-card-actions>
        </mat-card-header>
    </mat-card>
</div>