.header-image{
    width: 2rem;
    height: 100%;
    display: flex;
    margin: auto 0;
}
.header-image img{
    display: flex;
    align-items: center;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}
.mat-card{
    margin: 1rem 2rem;
}
.mat-card .mat-card-title,
.mat-card .mat-card-subtitle 
{
    display: flex;
    align-items: center;
    margin: 0px;
}

.mat-divider{
    margin: 1rem 1rem;
}

.request-box, .invite-box{
    width: 100%;
    padding: 1rem 1rem;
}

h1{
    font-size: 1.5rem;
}

.mat-card-actions{
    display: flex;
    padding: 0;
    align-items: center;
    margin: auto 0 auto auto
}

.mat-card-actions span{
    margin: 0 0.5rem;
}

.mat-card-actions .mat-icon{
    cursor: pointer;
}

.mat-card-actions .accept{
    color: lightgreen;
}

.mat-card-actions .reject{
    color: lightcoral;
}

.mat-card-actions .accept:hover{
    color: green;
}
.mat-card-actions .reject:hover{
    color: red;
}

h3{
    text-align: center;
    font-size: 1rem;
}