<div class="request-box">
    <h1>Member Request</h1>
    <h3 *ngIf="(requestList | async)?.length == 0">This project has no request.</h3>
    <mat-card *ngFor="let user of (userRequest | async)">
        <div *ngFor="let request of (requestList | async); let i = index">
            <mat-card-header *ngIf="i === 0">
                <div mat-card-avatar class="header-image"><img src="{{user.photoURL}}" /></div>
                <mat-card-title>{{user.displayName}}</mat-card-title>
                <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
                <mat-card-actions>
                    <mat-icon class="accept" (click)="acceptRequest(request)">done</mat-icon>
                    <span>|</span>
                    <mat-icon class="reject" (click)="rejectRequest(request)">cancel</mat-icon>
                </mat-card-actions>
            </mat-card-header>
        </div>
    </mat-card>
</div>


<mat-divider></mat-divider>
<div class="invite-box">
    <h1>Invitation List</h1>
    <h3 *ngIf="(inviteList | async)?.length == 0">This project has no invited person.</h3>
    <mat-card *ngFor="let user of (userInvite | async)">
        <div *ngFor="let request of (inviteList | async); let i = index">
            <mat-card-header *ngIf="i === 0">
                <div mat-card-avatar class="header-image"><img src="{{user.photoURL}}" /></div>
                <mat-card-title>{{user.displayName}}</mat-card-title>
                <mat-card-subtitle>{{user.email}}</mat-card-subtitle>

                <mat-card-actions>
                    <span>Waiting for accept</span>
                    <span>|</span>
                    <mat-icon class="reject" (click)="removeInvite(request)">cancel</mat-icon>
                </mat-card-actions>
            </mat-card-header>
        </div>
    </mat-card>
</div>