.header {
   max-width: 150rem;
   min-width: 15rem;
   margin: 1rem auto;
}

.mat-grid-tile .mat-figure {
   justify-content: flex-start !important;
   align-items: flex-start !important;
}
.in-line p {
   display: inline;
}

.navigator{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}


.late-date {
   color: red;
}

.nav-box {
   width: 50%;
   text-align: center;
   display: flex;
   flex-direction: column;
   
}

.nav-icon:hover {
   color: grey;
   cursor: pointer;
}

.nav-icon {
   font-size: 10rem;
}

.mat-divider{
   margin: 2rem 0;
}