<div *ngIf="isLoading" class="loading-spiner">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading" class="container">
  <mat-card class="header">
    <mat-card-title>
      Project: {{(project | async)?.name}}
    </mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col-sm-5 in-line">
          <p>Start on: {{(project | async)?.startDate.toDate().toDateString()}}</p>
        </div>
        <div class="col-sm-7 in-line">
          <p>Time remaining:</p>
          <p class="late-date" *ngIf="late"> LATE</p>
          <p> {{(timeRemaining)}} Day(s)</p>
        </div>
        <div class="w-100"></div>
        <div class="col-sm-5 in-line">
          <p>End on: {{(project | async)?.endDate.toDate().toDateString()}}</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Navigator</mat-card-title>
    <mat-card-content>
      <div class="navigator">
        <mat-card class="nav-box">
          <mat-card-header>
            <mat-card-title>Calendar</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <fa-icon class="nav-icon" [icon]="['far', 'calendar-alt']" routerLink="calendar"></fa-icon>
        </mat-card>

        <mat-card class="nav-box">
          <mat-card-header>
            <mat-card-title>Task</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <fa-icon class="nav-icon" [icon]="['fas', 'tasks']" routerLink="tasks"></fa-icon>
        </mat-card>

        <mat-card class="nav-box">
          <mat-card-header>
            <mat-card-title>Member</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>

          <fa-icon class="nav-icon" [icon]="['fas', 'users']" routerLink="member"></fa-icon>
        </mat-card>

        <mat-card class="nav-box">
          <mat-card-header>
            <mat-card-title>Setting</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>

          <fa-icon class="nav-icon" [icon]="['fas', 'cogs']" routerLink="setting"></fa-icon>
        </mat-card>

      </div>
    </mat-card-content>
  </mat-card>
</div>