<h2>SCHEDULER</h2>
<form [formGroup]="registerForm" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
  <div>
    <div>
      <mat-form-field>
        <input formControlName="displayName" type="text" matInput placeholder="Display Name" autocomplete="off">
        <mat-error *ngIf="registerForm.controls['displayName'].hasError('required')">
          Please enter your display name.
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input formControlName="email" type="email" matInput placeholder="Email" autocomplete="off">
        <mat-error *ngIf="registerForm.controls['email'].hasError('required')|| registerForm.controls['email'].hasError('email')">
          Please enter your email.
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input type="password" matInput placeholder="New password" formControlName="password">
        <mat-error
          *ngIf="registerForm.controls['password'].hasError('required') || registerForm.controls['password'].hasError('minlength')">
          Please enter your password at least 8 character.
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword">
        <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('passNotMatch')">
          Password does not match.
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <button type="submit" [disabled]="registerForm.invalid" mat-raised-button color="primary">Sign Up</button>
</form>
