button {
  font-size: 1.5rem;
  margin: 1rem;
}

.mat-icon {
  transform: scale(5);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h2 {
  margin-top: 2rem;
}

.mat-form-field {
  margin-top: 1rem;
}

div{
  display: block;
}