.content {
  padding: 30px;
}

.mat-form-field {
  padding-left: 10px;
  width: 300px;
}

.project-card {
  width: 600px;
  margin: 0 auto 60px;
}

div {
  display: block;
}

.mat-card-content {
  margin-top: 20px;
}

.mat-input-element:disabled {
  color: rgba(0, 0, 0, 1);
}