<div *ngIf="!isLoading" class="content">
  <mat-card class="project-card">
    <mat-card-header>
      <mat-card-title>
        Edit Project Detail
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <form [formGroup]="projectForm" align="center" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field>
            <input formControlName="name" type="text" matInput placeholder="Project Name" autocomplete="off">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input formControlName="startDate" matInput [matDatepicker]="startPicker" placeholder="Start Date"
              autocomplete="off">
            <mat-datepicker-toggle matSuffix [for]="startPicker" *ngIf="isManager()"></mat-datepicker-toggle>
            <mat-datepicker #startPicker disabled='false'></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input formControlName="endDate" matInput [matDatepicker]="endPicker" placeholder="End Date"
              autocomplete="off">
            <mat-datepicker-toggle matSuffix [for]="endPicker" *ngIf="isManager()"></mat-datepicker-toggle>
            <mat-datepicker #endPicker disabled='false'></mat-datepicker>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div class="d-flex justify-content-between">
        <div>
          <button *ngIf="isManager()" (click)="deleteProject()" mat-button color="warn">Delete Project</button>
          <button *ngIf="!isManager()" mat-button (click)="leaveProject()" color="warn" >Leave Project</button>

        </div>
        <div>
          <button (click)="backLastPage()" mat-button>Back</button>
          <button [disabled]="projectForm.invalid" *ngIf="isManager()" (click)="onSubmit()" mat-button color="primary">Update Project</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>