<h2>SCHEDULER</h2>

<mat-icon class="icon">dashboard</mat-icon>

<form [formGroup]="loginForm" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
  <div>
    <mat-form-field>
      <input formControlName="email" type="text" matInput placeholder="Email" autocomplete="off">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input formControlName="password" type="password" matInput placeholder="Password" autocomplete="off">
    </mat-form-field>
  </div>
  <button type="submit" mat-raised-button color="primary">Sign In</button>
</form>
