<mat-progress-bar *ngIf="isSubmit" mode="query"></mat-progress-bar>

<div class="content" *ngIf="!isSubmit">
  <mat-card class="project-card">
    <mat-card-header>
      <mat-card-title>
        Create a new Project
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <form [formGroup]="addProjectForm" align="center" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field>
            <input formControlName="name" type="text" matInput placeholder="Project Name" autocomplete="off">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input formControlName="startDate" matInput [matDatepicker]="startPicker" placeholder="Start Date" autocomplete="off">
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker disabled='false'></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input formControlName="endDate" matInput [matDatepicker]="endPicker" placeholder="End Date" autocomplete="off">
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker disabled='false'></mat-datepicker>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button (click)="backLastPage()" mat-button>Back</button>
      <button (click)="onSubmit()" [disabled]="addProjectForm.invalid" mat-raised-button>Create Project</button>
    </mat-card-actions>
  </mat-card>
</div>
