<mat-drawer-container autosize class="sidenav">
  <mat-drawer class="drawer" disableClose="true" mode="side" opened="true">
    <mat-nav-list>

      <mat-list-item (click)="toggleMenu()">
        <span class="menu-icon">
          <mat-icon>menu</mat-icon>
        </span>
        <span *ngIf="isExpanded" class="menu-text">
          <p>Menu</p>
        </span>
      </mat-list-item>

      <mat-divider></mat-divider>

      <!-- User Info -->
      <mat-list-item routerLink="/profile">
        <span class="menu-icon">
          <mat-icon>person</mat-icon>
        </span>
        <span *ngIf="isExpanded" class="menu-text">
          <p>{{ user.displayName }}</p>
        </span>
      </mat-list-item>
      <!-- Notification -->
      <mat-divider></mat-divider>

      <mat-list-item (click)="openNotification()">
        <p class="menu-icon">
          <mat-icon matBadge="{{notiNumber}}" [matBadgeHidden]="notiVisible" matBadgeSize="small"  matBadgeColor="warn">notifications</mat-icon>

        </p>
        <span *ngIf="isExpanded" class="menu-text">
          <p>Notification</p>
        </span>
      </mat-list-item>
      
      
      <mat-divider></mat-divider>

      <!-- Dashboard -->
      <div>
        <mat-list-item routerLink=''>
          <span class="menu-icon">
            <mat-icon>dashboard</mat-icon>
          </span>
          <span *ngIf="isExpanded" class="menu-text">
            <p>Dashboard</p>
          </span>
        </mat-list-item>
      </div>

      <mat-divider></mat-divider>

      <!-- Project List -->
      <div *ngFor="let project of (projectList | async)">
        <div>
          <mat-list-item routerLink="/projects/{{project.uid}}" routerLinkActive="is-active">
            <span class="menu-icon">
              <mat-icon>label</mat-icon>
            </span>
            <span *ngIf="isExpanded" class="menu-text">
              <p>{{ project.name }}</p>
            </span>
          </mat-list-item>
        </div>
      </div>

      <mat-divider></mat-divider>

      <!-- Add Project -->
      <mat-list-item routerLink="/addproject" routerLinkActive="router-link-active" >
        <span class="menu-icon">
          <mat-icon>add</mat-icon>
        </span>
        <span *ngIf="isExpanded" class="menu-text">
          <p>Add Project</p>
        </span>
      </mat-list-item>
      <!-- Log out -->
      <mat-divider></mat-divider>
      <mat-list-item (click)="logOut()">
        <span class="menu-icon sign-out">
          <mat-icon>exit_to_app</mat-icon>
        </span>
        <span *ngIf="isExpanded" class="menu-text">
          <p>Sign-Out</p>
        </span>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar>
    <router-outlet *ngIf="!isLoading"></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
