.sidenav {
  height: 100%;
}

.drawer {
  margin-right: 2em;
  max-width: 15rem;
}

.mat-nav-list{
  padding-top: 0px;
}

.menu-icon {
  margin: 0.1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-text {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-text p {
  font-weight: bold;
  margin: auto 0;
}

.is-active {
  background: #ececec;
}


.sign-out{
  color: red;
}
