.profile-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.mat-card{
    width: 30rem;
}

.mat-card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 1rem 0.1rem 1rem;
}

.profile-img{
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 8rem;
    height: 10rem;
    margin-bottom: 1rem;
}

.profile-img img{
    object-fit: cover;
    width: 100%;
    height: auto;
}

.upload-box{
    margin-bottom: 0;
    cursor: pointer;
    margin-top: auto;
    text-align: center;
    background-color: lightblue;
    width: 100%;
    padding: 0.12rem;
}

.upload-box:hover{
    transition: background-color 0.3s;
    background-color: lightskyblue;
}

h1{
    font-size: 1.2rem;
}

.email{
    display: flex;
}
.display-name{
    display: flex;
}
.display-name h1{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.display-name .mat-form-field{
    width: 14rem;
}

.display-name input{
    color: black;
    text-align: center;
    font-size: 1.1rem;
}

