<mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar>
<div *ngIf="!isLoading" class="profile-content">
    <mat-card class="profile-card">
        <mat-card-header>
            <mat-card-title>
                My Profile
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div class="profile-img">
                <img src="{{photoURL}}" alt="profile_img">
                <div (click)="openUploadDialog()" class="upload-box">
                    UPLOAD
                </div>
            </div>
            <div class="display-name">
                <h1>Display name: &nbsp;</h1>
                <mat-form-field>
                    <input #dpname disabled matInput type="text" [(ngModel)]="displayName" autocomplete="off">
                    <button *ngIf="!editing" mat-button matSuffix mat-icon-button (click)="dpname.disabled = false; editing = true;">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button *ngIf="editing" mat-button matSuffix mat-icon-button (click)="dpname.disabled = true; editing = false;">
                        <mat-icon>done</mat-icon>
                    </button>
                    <button *ngIf="editing" mat-button matSuffix mat-icon-button (click)="dpname.disabled = true; editing = false; displayName = user.displayName">
                        <mat-icon>cancel</mat-icon>
                    </button>

                </mat-form-field>
            </div>
            <div class="email">
                <h1>Email: &nbsp;</h1>
                <h1>{{user.email}}</h1>
            </div>

        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-button (click)="saveProfile()">Save</button>
        </mat-card-actions>
    </mat-card>
</div>