<div class="content">
  <mat-card class="project-card">
    <mat-card-header>
      <mat-card-title>
        Create a new Task
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <form [formGroup]="addTaskForm" align="center" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field>
            <input formControlName="name" type="text" matInput placeholder="Task Name" autocomplete="off">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input formControlName="description" type="text" matInput placeholder="Task Description(Optional)" autocomplete="off">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Assignee</mat-label>
            <mat-select formControlName="owner">
              <mat-option>   ----   </mat-option>
              <mat-option *ngFor="let member of memberList" [value]="member?.uid">
                {{ member?.displayName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input formControlName="startDate" matInput [matDatepicker]="startPicker" placeholder="Start Date"
              autocomplete="off">
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input formControlName="endDate" matInput [matDatepicker]="endPicker" placeholder="End Date" autocomplete="off">
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="onReturn()">Cancel</button>
      <button (click)="onSubmit()" [disabled]="addTaskForm.invalid" mat-raised-button>Create Task</button>
    </mat-card-actions>
  </mat-card>
</div>
