.navbar{
    background-color: white;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.navbar div{
    color: black;
    cursor: pointer;
    padding: 0 1rem;
}

.navbar div:hover{
    color: rgb(156, 156, 156);
    text-decoration: underline;
    transition: color 0.3s;

}

.navbar div:active{
    color: grey
}

.navbar div:focus{
    border: 0;
    outline: none;
}