<div class="navbar">
    <div routerLink="/projects/{{project?.uid}}">{{project?.name}}</div>
    <div *ngIf="!isHome" (click)="back()">Back</div>

</div>
<mat-divider></mat-divider>
<router-outlet></router-outlet>

