<div *ngIf="isLoading" class="loading-spiner">
    <mat-spinner></mat-spinner>
</div>
<div class="member-list" *ngIf="!isLoading">
    <mat-accordion class="header-align">
        <div>
            <mat-expansion-panel disabled hideToggle>
                <mat-expansion-panel-header>
                    <div class="user-name">
                        <div class="user-image"><img src="{{user.photoURL}}"></div>
                        <span>{{user.displayName}}</span>
                        <fa-icon class="icon" *ngIf="isManager" [icon]="['fas', 'crown']"></fa-icon>
                    </div>
                    <div class="user-email">
                        <span>Email: {{user.email}}</span>
                        <fa-icon class="icon" [icon]="['fas', 'star']"></fa-icon>
                        <span>YOU</span>
                    </div>
                </mat-expansion-panel-header>
                <mat-action-row>
                    <button mat-button color="warn">Remove from project</button>
                </mat-action-row>
            </mat-expansion-panel>
        </div>
        <mat-divider></mat-divider>
        <div *ngFor="let member of members">
            <mat-expansion-panel *ngIf="member?.uid !== user.uid" [disabled]="!isManager">
                <mat-expansion-panel-header>
                    <div class="user-name">
                        <div class="user-image"><img src="{{member?.photoURL}}"></div>
                        <span>{{member?.displayName}}</span>
                        <fa-icon class="icon" *ngIf="(project | async)?.manager === member.uid" [icon]="['fas', 'crown']"></fa-icon>
                    </div>
                    <div class="user-email">
                        <span>Email: {{member?.email}}</span>
                    </div>
                </mat-expansion-panel-header>
                <mat-action-row>
                    <button (click)="removeMember(member)" mat-button color="warn">Remove from project</button>
                </mat-action-row>
            </mat-expansion-panel>
        </div>
        <mat-divider></mat-divider>
        <div *ngIf="isManager">
            <button color='primary' class="add-new" (click)="changeTab(2)" mat-button>Add new member</button>
        </div>
    </mat-accordion>
</div>