span{
    color: rgba(0, 0, 0, 1);
}
.fa-icon{
    color: rgba(0, 0, 0, 0.8);
}
.member-list{
    padding: 1rem 1rem;
}

.user-name, .user-email, .user-image{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-name{

    width: 40%;
}
.user-email{
    width: 60%;
}
.user-image{
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}
.user-image img{
    height: 100%;
    object-fit: cover;
    margin: auto 0;
}
.user-name .icon,
.user-email .icon{
    margin-left: 0.7rem;
    color: gold;
}
.mat-divider{
    margin: 1rem 0;
}
.add-new{
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
}