/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loading-spiner{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.alert{
  background: rgb(245, 118, 118);
}
.success{
  background: rgb(119, 238, 119);
}
.warning{
  background: rgb(226, 150, 51);
}

.snackbar{
  color: snow;
}

*:focus{
  outline: none;
  border: 0;
}

button:focus{
  outline: none;
  border: 0;
}