<div *ngIf="isLoading" class="loading-spiner">
  <mat-spinner></mat-spinner>
</div>
<mat-card class="container" *ngIf="!isLoading">
<div class="header">
  <p>
    Task List
  </p>
  <button *ngIf="isManager" (click)="onAddTask()" mat-raised-button color="primary">New Task</button>
</div>

<mat-list >
  <table >
    <tr *ngFor="let task of taskList" class="task-list-item" (click)="onClick(task.uid)">
      <mat-divider></mat-divider>
      <td *ngIf="!task.isFinished" >{{task.name}}</td>
      <td *ngIf="!task.isFinished" >Asignee: {{getUsername(task.owner)}}</td>
      <td *ngIf="task.isFinished" class="finished-task">{{task.name}}</td>
      <td *ngIf="task.isFinished" class="finished-task">Asignee: {{getUsername(task.owner)}}</td>
    </tr>
  </table>
</mat-list>
</mat-card>
