.task-list-item {
  cursor: pointer;
  height: 3rem;
}

mat-card {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 0;
}

.header {
  display: flex;
}

.header p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #444444;
  flex-grow: 1;
}

.header button {
  margin-bottom: 1rem;
}

table {
  width: 100%;
}


.finished-task {
  color: #999;
  text-decoration: line-through;
}
