<mat-tab-group mat-align-tabs="center" mat-stretch-tabs [selectedIndex]='selected' (selectedIndexChange)="changeTab($event)">
    <mat-tab> 
        <ng-template mat-tab-label>
            <span style="margin-right: 1rem;">Members</span>
            <fa-icon [icon]="['fas', 'users']"></fa-icon>
        </ng-template>
        <app-project-member-list (parentFun)='changeTab($event)' [project]='project'></app-project-member-list>
    </mat-tab>
    <mat-tab *ngIf="isManager()">
        <ng-template mat-tab-label>
            <span style="margin-right: 1rem;">Member Request</span>
            <fa-icon [icon]="['fas', 'bell']"></fa-icon>
        </ng-template>
        <app-project-member-request [project]='project'></app-project-member-request>
    </mat-tab>
    <mat-tab *ngIf="isManager()">
        <ng-template mat-tab-label>
            <span style="margin-right: 1rem;">Invite Member</span>
            <fa-icon [icon]="['fas', 'user-plus']"></fa-icon>
        </ng-template>
        <app-project-member-add (parentFun)='changeTab($event)'  [project]='project'></app-project-member-add>
    </mat-tab>
</mat-tab-group>