<h1>Upload File</h1>
<div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
    <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
    <h1>drag image here or click to browse</h1>
</div>
<h1>Selected File</h1>
<div class="files-list">
    <p *ngIf="selectFile; else nofile"> {{ selectFile.name }} </p>
    <ng-template #nofile>
        <p>You have not select file.</p>
    </ng-template>
</div>

<h1>File List</h1>
<div *ngIf="files.length == 0" class="files-list">
    <p>You don't have file.</p>
</div>
<div class="files-list" *ngFor="let file of files;let i= index">
    <p> {{ file.name }} </p>
    <div>
        <button mat-icon-button (click)="selectAttachment(i)">
            <mat-icon>done</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteAttachment(i)">
            <mat-icon>cancel</mat-icon>
        </button>
    </div>
</div>
<div class="action" align="end">
    <div *ngIf="isUploading">
        <mat-progress-bar mode="determinate" value="{{(percentage|async)}}"></mat-progress-bar>
        <p>{{(percentage|async)|number:'1.0-0'}}%</p>
    </div>
    <div *ngIf="!isUploading">
        <button mat-button (click)="closeDialog()">Back</button>
        <button mat-button (click)="uploadFileToStorage()" [disabled]="!selectFile">Upload</button>
    </div>

</div>