.uploadfilecontainer {
    background-image: url('../../../assets/Cloud-Firestore-Logo.svg');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    height: 200px;
    width: 80%;
    margin: 20px auto;
    border: 2px dashed #1C8ADB;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.uploadfilecontainer h1{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
}

.files-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
    color: #1c8adb;
}


.files-list p{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

h1{
    font-size: 1.2rem;
}
.action{
    margin-top: 1rem;
}