<div class="content">
  <mat-card class="project-card">
    <mat-card-header>
      <mat-card-title>
        Invite member
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="font-content">
        <form *ngIf="!isSelected">
          <mat-form-field>
            <input matInput (click)="reloadOption()" placeholder="display name or email" [matAutocomplete]="auto" [formControl]="selectedUser">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setUser()">
              <mat-option *ngFor="let user of (optionList | async) | filter: selectedUser.value" [value]="user">
                <img class="icon-profile-image" src="{{user.photoURL}}"
                  alt="">
                <span>{{user?.displayName}}</span> |
                <small>{{user?.email}}</small>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <div class="user-tab" *ngIf="isSelected">
          <div class="user-content">
            <img class="icon-profile-image" src="{{selectedUser.value.photoURL}}"
              alt="">
            <span>{{selectedUser?.value.displayName}}</span> |
            <small>{{selectedUser?.value.email}}</small>
          </div>
          <div class="user-action">
            <mat-icon (click)="unsetUser()">cancel</mat-icon>
          </div>
        </div>
      </div>

      <div class="back-content">
        <button color="primary" [disabled]="!isSelected" (click)="sendRequest()" mat-button>Send Invitation</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>