.content {
  padding: 30px;
}

.mat-form-field {
  padding-left: 10px;
  width: 100%;
}
form{ 
  width: 100%;
}
.project-card {
  width: 600px;
  margin: 0 auto 60px;
  min-height: 180px;
}

div {
  display: block;
}

.mat-card-content {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.icon-profile-image{
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.mat-chip{
  padding: 1rem;
}

.font-content{
  display: flex;
  justify-content: center;
  width: 70%;
  height: 4rem;
}

.back-content{
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

.user-tab, .user-content, .user-action{
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-tab{
  background-color: lightgreen;
  width: 100%;
  border-radius: 1rem;
}
.user-content{
  color: lightslategrey;
  width: 80%;
}
.user-action{
  color: white;
  cursor: pointer;
  width: 20%;
}
.user-action:hover{
  color: grey;
}