<h1 mat-dialog-title>{{dialog.title}}</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
  {{dialog.desc}}
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()" >Cancel</button>
  <button color="primary" mat-button (click)="confirmDialog()">Confirm</button>
</div>